.form {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}
.form__form {
  width: 100%;
}
.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
.form__input,
.form__button {
  width: 100%;
}
.form__input {
  padding: 0.5rem 0.7rem;
  outline: none;
  background-color: var(--light-grey);
  transition: all 0.2s ease-in;
}
.form__input.dark {
  background-color: var(--primary-color-dark);
  color: var(--light-grey);
}
.form__input.dark:focus {
  background-color: var(--dark-grey);
}
.form__input:focus {
  background-color: var(--secondary-color-light);
}
.form__input:valid {
  border: 2px solid green;
}
.form__label.error {
  color: red;
}
.form__input.error {
  border: 2px solid red !important;
}
.form__errors {
  color: red;
}
.form__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 2rem;
  width: 100%;
}
.form__img,
.form__modal-img {
  object-fit: fill;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 1px solid var(--dark-grey);
  padding: 1rem;
}
.form__img.dark {
  border: 1px solid var(--light-grey);
}
.form__button-img {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-color-light);
  border-radius: 50%;
  padding: 1rem;
  width: 50px;
  height: 50px;
}
.form__button-img:hover .form__icon {
  color: var(--light-grey);
}
.form__button-img.dark {
  background-color: var(--secondary-color-dark);
  color: var(--primary-color-light) !important;
}

@media screen and (min-width: 600px) {
  .form__form.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .form__submit {
    grid-column: span 2;
  }
}
