.list__table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
.list__head {
  display: none;
}
/* table tr {
  background-color: #f8f8f8;
  padding: .35em;
} */
.list__row {
  overflow: hidden;
  background: var(--secondary-color-light);
  border: 1px solid var(--dark-grey);
  border-bottom: 3px solid var(--dark-grey);
  color: var(--dark-grey);
  display: block;
  margin-bottom: 0.625em;
  transition: all ease-in 0.2s;
}
.list__row.dark {
  background: var(--secondary-color-dark);
  border-color: var(--light-grey);
  border-bottom-color: var(--light-grey);
  color: var(--light-grey);
}
.list__row:hover {
  background-color: var(--light-grey);
  color: var(--dark-grey);
}
.list__row.dark:hover {
  background-color: var(--primary-color-dark);
  color: var(--light-grey);
}
.list__row:hover .list__data {
  border-bottom-color: var(--dark-grey);
}
.list__data {
  overflow: hidden;
  display: block;
  text-align: right;
  border-bottom: 1px solid var(--dark-grey);
  padding: 0.5rem;
  word-wrap: break-word;
}
.list__data.dark {
  border-bottom-color: var(--light-grey);
}
.list__data::before {
  content: attr(data-label);
  float: left;
  font-weight: bold;
  text-transform: uppercase;
}
.list__data:last-child {
  border-bottom: 0;
}
.list__img {
  width: 75px;
  border-radius: 50%;
  object-fit: fill;
  height: 75px;
}

/* BUTTONS */
.list__buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.list__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 120px;
  max-height: 40px;
  gap: 5px;
}

@media screen and (min-width: 600px) {
  .list__table {
    border: 1px solid var(--dark-grey);
  }
  .list__heading {
    padding: 0.5rem;
    background-color: var(--primary-color-light);
    color: white;
  }
  .list__heading.dark {
    background-color: var(--primary-color-dark);
  }
  .list__head {
    display: table-header-group;
  }
  .list__row {
    border: 1px solid var(--dark-grey);
    display: table-row;
  }
  .list__data {
    text-align: center;
    display: table-cell;
  }
  .list__data::before {
    display: none;
  }
  .list__data:last-child {
    border-bottom: 1px solid var(--dark-grey);
  }
  .list__data.dark:last-child {
    border-bottom: 1px solid var(--light-grey);
  }
  .list__row:hover .list__data:last-child {
    border-bottom: 1px solid var(--dark-grey);
  }
}
