.list__button {
  width: 100%;
  max-width: 100px;
  padding: 0.2rem 0.5rem;
  border: none;
  transition: all ease-in 0.3s;
}
.list__button.view {
  background-color: rgba(0, 0, 255, 0.6);
  color: white;
  cursor: pointer;
}
.list__button.edit {
  background-color: rgba(0, 128, 0, 0.6);
  color: white;
  cursor: pointer;
}
.list__button.delete {
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
  cursor: pointer;
}
.list__button.view:hover {
  background-color: rgba(0, 0, 255, 1);
}
.list__button.edit:hover {
  background-color: rgba(0, 128, 0, 1);
}
.list__button.delete:hover {
  background-color: rgba(255, 0, 0, 1);
}
